---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/timelines?apikey=HUsBEyF8PFbWplZNqQa2fcyMasxal82r&fields=temperature,temperatureMax,temperatureMin&location=40.7128,-74.006&timesteps=1h,1d&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - e19050f6-20cf-433e-8b9c-8300c74e6c2e
      X-Db-Credits-Cost:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"timelines":[{"timestep":"1d","endTime":"2024-04-18T10:00:00Z","startTime":"2024-04-13T10:00:00Z","intervals":[{"startTime":"2024-04-13T10:00:00Z","values":{"temperature":12.32,"temperatureMax":12.32,"temperatureMin":6.72}},{"startTime":"2024-04-14T10:00:00Z","values":{"temperature":22.58,"temperatureMax":22.58,"temperatureMin":6.44}},{"startTime":"2024-04-15T10:00:00Z","values":{"temperature":23.58,"temperatureMax":23.58,"temperatureMin":6.52}},{"startTime":"2024-04-16T10:00:00Z","values":{"temperature":21.38,"temperatureMax":21.38,"temperatureMin":7.41}},{"startTime":"2024-04-17T10:00:00Z","values":{"temperature":14.47,"temperatureMax":14.47,"temperatureMin":9.16}},{"startTime":"2024-04-18T10:00:00Z","valu[...]
